# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/

# IDE
.vscode/
.idea/

# Logs
*.log

# Build files
build/
dist/
*.egg-info/

# Compiled files
*.pyc
*.pyo
*.pyd

# Miscellaneous
*.swp
.DS_Store
